
.camaLessForm {
	background: #fff;
	height: 100%;
}
.camaLessForm section {
	background-color: #fff;
	overflow: auto;
	height: calc(100% - 50px);
}

.camaLessForm label {
    font-size: 90% !important;
	font-weight: normal !important;
    margin-right: 1rem !important;
}
.camaLessForm .camaLessFormListPanel .themeName {
    width: 60% !important;
}
.camaLessForm .camaLessFormFields .themeName input {
	padding: 10px;
	width: 100%;
	box-sizing: border-box;
	border: 1px solid;
	font-size: 110%;
}
.camaLessForm .themeColors input {
    width: 100% !important;
    margin-bottom: 0.5em !important;
	box-sizing: border-box;
}
.camaLessForm menu {
	padding: 0;
	height: 50px;
	margin: 0;
}
.camaLessForm menu button {
	width: calc(50% - 20px);
	padding: 10px 0;
	font-size: 125%;
	margin: 0;
	margin-right: 20px;
	border: none !important;
	height: 50px;
}
.camaLessForm menu button.recommend {
	background-color: #48a !important;
	color: #eee !important;
	margin-right: 0;
	margin-left: 20px;
}

.camaLessForm input[type="radio"] {
	opacity: 0;
	margin: 0;
	position: relative;
	display: inline-block;
	width: 1px;
	z-index: 10;
}
.camaLessForm input[type="radio"] ~ label {
	display: inline-block !important;
	cursor: default;
	font-size: 2.8rem !important;
	text-align: center;
	vertical-align: middle;
	line-height: 0.85rem;
	width: 1rem;
	height: 1rem;
	font-weight: bold !important;
	border-radius: 100px;
	border-color: rgb(0, 0, 0);
	border-width: 1px;
	border-style: solid;
	color: rgb(0, 0, 0);
	background-color: rgb(255, 255, 255);
	margin: 0 !important;
}
.camaLessForm input[type="radio"] ~ label:after {
	content: " ";
	
}
.camaLessForm input[type="radio"]:checked ~ label:after {
	content: '·';
	display: inline-block;
	width: 1rem;
	height: 1rem;
}

.camaLessForm .themeAdd a {
	width: 100%;
    display: inline-block;
	text-decoration: none;
	text-align: center !important;
	vertical-align: middle;
	background-color: rgb(15, 153, 40);
	border-radius: 4px;
	margin-top: 15px;
}
.camaLessForm .themeAdd a span {
	color: #fff !important;
	text-decoration: none;
	font-weight: 400;
	vertical-align: middle;
	display: inline;
	text-transform: uppercase;
	font-size: 80%;
}
.camaLessForm .themeAdd a img {
	vertical-align: -8px;
}
.camaLessForm table {
    width: 100%;
    margin-top: 20px;
}

.camaLessForm .iconLink {
	height: 24px;
	line-height: 24px;
	vertical-align: middle;
	display: inline-block;
}


.camaLessForm li {
    border-style: none !important;
    height: auto !important;
    padding-bottom: 0 !important;
}
.camaLessForm ul {
    border-width: 0 !important;
}


/* Remove node with fade out effect */
.removingNode {
    animation-duration: 1s;
    animation-name: fadeOut;
}


.camaLessForm input:focus {
	outline: none;
}
.camaLessForm pre {
	display: inline;
	background-color: rgba(255, 255, 255, .2);
	padding: .5em;
}
.cp-app {
	z-index: 200;
}

.camaLessForm .camaLessFormListPanel tr {
	line-height: 40px;
}
.camaLessForm .camaLessFormListPanel {
	display: block;
}
.camaLessForm .camaLessFormListPanel.editing {
	display: none;
	animation-name: goLeftList;
	animation-duration: 0.25s;
}
.camaLessForm .camaLessFormListPanel.backing {
	display: block;
	animation-name: goRightList;
	animation-duration: 0.25s;
}
.camaLessForm .camaLessFormEditPanel {
	display: none;
	left: 100%;
	width: 100%;
	padding: 0 !important;
}
.camaLessForm .camaLessFormEditPanel ul {
	padding: 0 !important;
	list-style: none;
}
.camaLessForm .camaLessFormEditPanel.backing {
	animation-duration: 0.25s;
	animation-name: goRight;
}
.camaLessForm .camaLessFormEditPanel.editing {
	display: flex;
	align-items: center;
	opacity: 1;
	left: 0%;
	z-index: 100;
	animation-duration: 0.25s;
	animation-name: goLeft;
}
.camaLessForm .camaLessFormEditPanel .camaLessFormBackToList {
	height: 100%;
	width: 50px;
	background-color: #2060cc;
	line-height: 100%;
	vertical-align: top;
	text-align: center;
	cursor: pointer;
	display: inline-flex;
	align-items: center;
}
.camaLessForm .camaLessFormEditPanel .camaLessFormBackToList img {
	width: 30px;
	height: 40px;
	margin: auto;
}
.camaLessForm .camaLessFormEditPanel .camaLessFormFields {
	width: calc(100% - 50px);
	max-height: 100%;
	box-sizing: border-box;
	display: inline-flex;
	padding: 20px;
	overflow: auto;
}
.camaLessForm .camaLessFormEditPanel .camaLessFormFields tr {
	display: none;
}
.camaLessForm .camaLessFormEditPanel .camaLessFormFields tr.editing {
	display: block;
}
.camaLessForm .camaLessFormEditPanel .camaLessFormFields td {
	display: block;
	margin: 10px 0;
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
@keyframes goLeft {
    from {
        margin-left: 100%;
    }
    to {
        margin-left: 0;
    }
}
@keyframes goRight {
    from {
        margin-left: 0;
    }
    to {
        margin-left: 100%;
    }
}
@keyframes goLeftList {
    from {
        margin-left: 0;
    }
    to {
        margin-left: -100%;
    }
}
@keyframes goRightList {
    from {
        margin-left: -100%;
    }
    to {
        margin-left: 0;
    }
}
